<footer class="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3 class="footer-heading">Store Location</h3>
            <p class="footer-info">500 Terry Francine Street</p>
            <p class="footer-info">San Francisco, CA 94158</p>
            <p class="footer-info">info&#64;mysite.com</p>
            <p class="footer-info">123-456-7890</p>
            <div class="social-icons">
                <a href="#" class="social-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Customer Support</h3>
            <div class="footer-links">
                <a href="#">Contact Us</a>
                <a href="#">Help Center</a>
                <a href="#">About Us</a>
                <a href="#">Careers</a>
            </div>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Policy</h3>
            <div class="footer-links">
                <a href="#">Shipping & Returns</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Payment Methods</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="payment-section">
        <p class="payment-text">We accept the following paying methods</p>
        <div class="payment-methods">
            <img src="https://static.wixstatic.com/media/84770f_27001c40036842889a78a72766ad4700~mv2.png/v1/fill/w_110,h_66,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Visa.png" alt="Visa" class="payment-icon">
            <img src="https://static.wixstatic.com/media/c837a6_e8798fcfdaf144478a5c7da1ba28ff2c~mv2.png/v1/fill/w_110,h_68,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/brand-mastercard%403x.png" alt="Mastercard" class="payment-icon">
            <img src="https://static.wixstatic.com/media/c837a6_2bd3e20d1e214eccb5e106fc6d1f535d~mv2.png/v1/fill/w_110,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/brand-amex%403x.png" alt="American Express" class="payment-icon">
            <img src="https://static.wixstatic.com/media/c837a6_52115f99af28419d95a951f226e32e2b~mv2.png/v1/fill/w_110,h_68,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/brand-chinaunionpay%403x.png" alt="Union Pay" class="payment-icon">
            <img src="https://static.wixstatic.com/media/c837a6_9378fbd3ef8c470bb89aee12ecbd2209~mv2.png/v1/fill/w_110,h_68,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/brand-jcb%403x.png" alt="JCB" class="payment-icon">
            <img src="https://static.wixstatic.com/media/84770f_70555dcb450a415d80322cb8d7e82a33~mv2.png/v1/fill/w_104,h_76,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Diners.png" alt="Diners Club" class="payment-icon">
            <img src="https://static.wixstatic.com/media/84770f_14f105815c3f47bf9001990706915501~mv2.png/v1/fill/w_110,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Discover.png" alt="Discover" class="payment-icon">
            <img src="https://static.wixstatic.com/media/84770f_8445424a46ca49f39359bf19d4a3e537~mv2.png/v1/fill/w_110,h_76,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/PayPal.png" alt="PayPal" class="payment-icon">
        </div>
    </div>
</footer>
<div class="copyright">
    © 2035 by TechShop. Powered and secured by Nacvlia
</div>