.register-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}
.register-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 120px auto 60px auto;
}
.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: Avenir;
    font-weight: 700;
}
.register-name-group {
    display: flex;
    gap: 15px;
    flex: 1;
}
.register-form-group {
    margin-bottom: 15px;
    flex: 1
}
.register-submit-btn {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-family: Avenir;
    font-weight: 500;
    font-size: 18px;
}
.register-submit-btn:hover {
    opacity: 0.9;
}
.register-form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}

.register-form-footer a {
    color: black;
    text-decoration: none;
    font-family: Avenir;
}

.register-form-footer a:hover {
    text-decoration: underline;
}
.register-form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Avenir;
    font-weight: 500;
}
.errors,
.succ {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}
.errors span {
    color: red;
    font-family: Avenir;
    text-align: center;
}
.succ span{
    color: green;
    font-family: Avenir;
    font-weight: 500;
    font-size: 20px;
}
.register-form-group input.ng-invalid.ng-touched{
    border: 2px solid #dc3545;
}
.register-form-group input,
.register-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.error-text {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 4px;
    font-family: Avenir;
  }
@media (max-width: 480px) {
    .register-container {
        width: 90%;
        padding: 20px;
    }
    .register-name-group {
        flex-direction: column;
        gap: 15px;
    }
}
@media screen and (max-width: 641px){
    .register-container {
        margin-top: 180px;
    }
}
@media screen and (max-width: 375px) {
    .register-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
}